{% load static %}

<header>
    <section class="site-section-hero bg-image", 
    style="background-image: url('https://cf-images.us-east-1.prod.boltdns.net/v1/static/5778310444001/9cc8523e-c060-43c2-9c03-4ee0f841f47a/75eba271-bffa-4568-ab88-d36fcd716ad3/1280x720/match/image.jpg');"  data-stellar-background-ratio="0.5";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;">
        <div class="row justify-content-center align-items-center">
            <div class="container h-100 d-flex justify-content-center align-items-center">
                <div class="row justify-content-center align-items-center">
                    <div class="text-center">
                        <h1 class="heading text-uppercase text-white" data-aos="fade-up"">Pappamask</h2>
                        <h2 class="lead text-white mb-4" data-aos="fade-up" data-aos-delay="100">Amateur minipainter</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>


